
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
.env
.venv
venv/
.ipynb_checkpoints
.idea/
.vscode/
data/raw/
data/processed/
checkpoints/*.pth
checkpoints/*.pt
results/
